<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>9种CSS3 blend模式制作的鼠标滑过图片标题特效| </title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/demo/jquery-hover20151220/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/demo/jquery-hover20151220/css/default.css">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/demo/jquery-hover20151220/css/demo.css">
    <!--[if IE]>
    <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">

    <div class="container">
        <div class="elem first">
            <img src="http://www.jq22.com/demo/jquery-hover20151220/img/1.jpg">
        </div>
        <div class="elem second">
            <img src="http://www.jq22.com/demo/jquery-hover20151220/img/2.jpg">

            <div class="partialBorder">
                <div class="leftTop">测试内容</div>
                <div class="rightTop">测试内容</div>
                <div class="leftBot">测试内容</div>
                <div class="rightBot">测试内容</div>

            </div>

        </div>
        <div class="elem thrird">
            <img src="http://www.jq22.com/demo/jquery-hover20151220/img/3.jpg">

            <div class="line topToBot"></div>
            <div class="line botToTop"></div>
        </div>
        <div class="elem fourth">
            <img src="http://www.jq22.com/demo/jquery-hover20151220/img/4.jpg">

            <div class="lineCont">
                <div class="line top"> 测试呢哦荣</div>
                <div class="line right"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>

            </div>
        </div>
        <div class="elem fifth">
            <img src="http://www.jq22.com/demo/jquery-hover20151220/img/5.jpg">
            <span class="left">Hover me!</span>
            <span class="right">WoW WoW!!!</span>
        </div>
        <div class="elem sixth">
            <img src="http://www.jq22.com/demo/jquery-hover20151220/img/6.jpg">

            <div class="reveal">
                <span>Revealing text!</span>
            </div>
        </div>
        <div class="elem seventh">
            <img src="http://www.jq22.com/demo/jquery-hover20151220/img/7.jpg">
            <span class="bird">Very bird!</span>
        </div>
        <div class="elem eighth">
            <img src="http://www.jq22.com/demo/jquery-hover20151220/img/8.jpg">

            <div class="reveal">
                <span>Vertically revealing!</span>
            </div>
        </div>
        <div class="elem ninth">
            <img src="http://www.jq22.com/demo/jquery-hover20151220/img/9.jpg">
            <span class="umad">UMAD BRO?</span>
        </div>
    </div>

</div>

</body>
</html>