<div ng-controller="testNstrapCtrl">

    <button type="button" class="btn btn-primary" ng-click="error()">错误
    </button>

    <button type="button" class="btn  btn-primary" ng-click="notify()">提示
    </button>

    <button type="button" class="btn  btn-primary" ng-click="confirm()">确认
    </button>

    <button type="button" class="btn btn-primary" ng-click="openwindowsm()">弹出网页（小号）
    </button>

    <button type="button" class="btn btn-primary" ng-click="openwindow()">弹出网页
    </button>
</div>