<div class="container-fluid form-horizontal" ng-controller="testGridCtrl">
    <div>
        <h2><strong>Grid信息</strong></h2>
    </div>
    <hr/>
    <div>
        <hls-grid grid-options="gridOptions"></hls-grid>
    </div>
    <hr/>
    <div>
        <button class="btn-default" ng-click="getSelectData()">获取选中数据</button>
        <button class="btn-default" ng-click="setSelectData()">设置选中数据</button>
        <button class="btn-default" ng-click="clearSelectData()">清除选中数据</button>
    </div>
</div>