<div ng-message="required">当前项不能为空</div>
<div ng-message="email">邮箱格式不正确</div>
<div ng-message="pattern">格式不正确</div>
<div ng-message="record-loading">检测邮箱中....</div>
<div ng-message="record-taken">对不起, 该邮箱已经被注册</div>
<div ng-message="un-exist-email">请填写贸易宝的注册邮箱</div>
<div ng-message="record-loading-username">检测用户名中....</div>
<div ng-message="record-taken-username">对不起, 该用户名已经被注册</div>
<div ng-message="un-exist-username">请填写贸易宝的注册用户名</div>
<div ng-message="minlength">密码长度不能小于6个字符</div>
<div ng-message="maxlength">密码长度不能大于18个字符</div>
<div ng-message="password-characters">您的密码必须由字母或数字组成。它也必须包含至少一个特殊字符和数字</div>
<div ng-message="match-password">密码不一致</div>
<div ng-message="verify-wrong">验证码不正确</div>
<div ng-message="tel">联系电话格式不正确</div>
<div ng-message="letter">英文字母</div>
<div ng-message="Chinese">中文</div>
<div ng-message="tel_fax">联系电话或传真号码格式不正确</div>
<div ng-message="IdCard">身份证格式不正确</div>
<div ng-message="postCode">邮政编码格式不正确</div>
<div ng-message="truename">姓名格式不正确</div>
<div ng-message="qq">qq格式不正确</div>
<div ng-message="SKU">SKU格式不正确</div>
<div ng-message="stock">大于或等于零的整数</div>
<div ng-message="price">大于零且小数点后两位, 如: 10.00, 10.50</div>
<div ng-message="username_en">4-12位字母,数字,下划线</div>  
<div ng-message="username_merge">2-12位中文,字母,数字,下划线</div>  
<div ng-message="detail_address">5-50位中文,字母,数字,部分特殊字符</div>  
<div ng-message="baseMix">3-30位中文,字母,数字,下划线</div>  