div,span,applet,object,iframe,code,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,del,dfn,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,caption {
	margin:0;
	padding:0;
	border:0;
	font-weight:normal;
	font-style:normal;
	font-family:inherit;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
ol,ul {
	list-style:none;
}
q:before,q:after,blockquote:before,blockquote:after {
	content:"";
}
#mlb-wrapper {
	width:100%;
}
.base {
	text-align:center;
	width:678px;
	position:relative;
	padding:0;
	margin:0;
}
#photo {
	width:678px;
	overflow:hidden;
}
#photo ul {
	margin-left:0;
	width:4068px;
}
#photo ul li {
	display:block;
	float:left;
}
#photo img {
	display:block;
}
#hover-box {
	height:23px;
	position:relative;
	z-index:30;
}
#thumbs {
	position:absolute;
	height:61px;
	background-color:#444;
	background:rgba(0,0,0,.7);
	padding:3px 0 0 0;
	bottom:0;
	opacity:0;
	display:none;
}
#thumbs ul {
	width:678px;
	margin:0 auto;
}
#thumbs ul li {
	display:inline-block;
	float:left;
	padding:0 2px 0 2px;
}
#thumbs p {
	color:#fff;
	font-size:12px;
	padding:2px 5px 5px 5px;
	letter-spacing:normal;
	font-family:Arial,Helvetica,sans-serif;
	clear:both;
}
#thumbs img {
	border:solid 1px #fff;
	position:relative;
	z-index:1;
}
#thumbs a.highlight img {
	border:solid 1px #ff9933;
}
#thumbs ul li a:link,#thumbs ul li a:visited {
	position:relative;
	display:block;
	outline:none;
}
#thumbs ul li a span {
	display:block;
	width:64px;
	height:31px;
	border:solid 5px #fff;
	opacity:.68;
	filter:alpha(opacity=68);
	position:absolute;
	z-index:20;
	top:1px;
	left:1px;
}
#thumbs ul li a.highlight span {
	border-color:#ff9933;
	opacity:.6;
}
#navigation {
	background-color:#444;
	background:rgba(0,0,0,.5);
	height:23px;
	width:678px;
	z-index:1;
	position:absolute;
	bottom:0;
}
#navigation ul {
	width:120px;
	float:left;
	margin:0 0 0 142px;
	display:inline;
}
#navigation ul li {
	width:20px;
	float:left;
	padding:5px 0 0 0;
}
#navigation a:link,#navigation a:visited {
	font-size:10px;
	text-decoration:none;
	color:#fff;
	outline:none;
}
#navigation a:hover,#navigation a:focus {
	color:#ff9933;
	background:none;
}
#navigation ul li a:hover,#navigation ul li a:focus {
	background:rgba(255,255,255,.5);
}
#navigation ul li a.highlight:hover,#navigation ul li a.highlight:focus {
	background:rgba(255,153,51,.5);
}
#navigation ul li a.highlight:link,#navigation ul li a.highlight:visited {
	border-color:#ff9933;
	background:#ff9933;
}
#navigation ul li a:link,#navigation ul li a:visited {
	display:block;
	float:left;
	width:8px;
	height:8px;
	border:solid 3px #fff;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	text-indent:-9999em;
	overflow:hidden;
}
a.pause,a.pause:link,a.pause:visited {
	background-position:0 0;
}
#navigation a.play:hover,#navigation a.play:focus {
	background:transparent url(../images/play-pause.gif) no-repeat 0 -14px;
}
#navigation a.pause:hover,#navigation a.pause:focus {
	background:transparent url(../images/play-pause.gif) no-repeat 0 0;
}
#prev {
	float:left;
	padding:0 0 0 5px;
}
#next {
	float:right;
	padding:0 5px 0 0;
}
#prev a:link,#prev a:visited {
	background:none;
}
#next a:link,#next a:visited {
	background:none;
}
#navigation a span {
	font-size:6px;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	line-height:24px;
}
#description {
	padding:1px 0 0 0;
}
p#small-caption {
	font-size:10px;
	color:#333;
	line-height:11px;
	padding:0 0 0 4px;
	background-image:-moz-linear-gradient(top,#d3d3d3,#f4f4f4);
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#f4f4f4),color-stop(1,#d3d3d3));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4',endColorstr='#d3d3d3');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4',endColorstr='#d3d3d3')";
	zoom:1;
}

#title a:link,#title a:visited {
	font-size:19px;
	color:#c00;
	text-decoration:none;
	font-family:Arial,Helvetica,sans-serif;
	font-weight:bold;
	line-height:34px;
}
#title a:hover,#title a:focus {
	text-decoration:underline;
}
#long-desc {
	font-size:10px;
}
td,th,select,input {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
}
a:link {
	color:#333333;
	font-size:12px;
	text-decoration:none;
}
a:visited {
	text-decoration:none;
	color:#333333;
}
a:hover {
	text-decoration:none;
	color:#FF0000;
	text-decoration:none;
}
a:active {
	text-decoration:none;
	color:#555555;
}
a.link1:link {
	color:#FFFFFF;
	text-decoration:none
}
a.link1:visited {
	color:#FFFFFF;
	text-decoration:none
}
a.link1:hover {
	color:#FFFFFF;
	text-decoration:underline
}
a.link1:active {
	color:#FFFFFF;
	text-decoration:none
}
a.link2:link {
	color:#57930F;
	text-decoration:none
}
a.link2:visited {
	color:#57930F;
	text-decoration:none
}
a.link2:hover {
	color:#57930F;
	text-decoration:underline
}
a.link2:active {
	color:#57930F;
	text-decoration:none
}
a.link3:link {
	color:#FF0000;
	text-decoration:none
}
a.link3:visited {
	color:#FF0000;
	text-decoration:none
}
a.link3:hover {
	color:#FF0000;
	text-decoration:underline
}
a.link3:active {
	color:#FF0000;
	text-decoration:none
}
a.link4:link {
	color:#999999;
	text-decoration:none
}
a.link4:visited {
	color:#999999;
	text-decoration:none
}
a.link4:hover {
	color:#FF0000;
	text-decoration:none
}
a.link4:active {
	color:#999999;
	text-decoration:none
}
a.link5:link {
	color:#FB683C;
	text-decoration:none
}
a.link5:visited {
	color:#FB683C;
	text-decoration:none
}
a.link5:hover {
	color:#FB683C;
	text-decoration:underline
}
a.link5:active {
	color:#FB683C;
	text-decoration:none
}
a.link7:link {
	color:#c0c0c0;
	text-decoration:none
}
a.link7:visited {
	color:#c0c0c0;
	text-decoration:none
}
a.link7:hover {
	color:#c0c0c0;
	text-decoration:underline
}
a.link7:active {
	color:#c0c0c0;
	text-decoration:none
}
a.link8:link {
	color:#999999;
	text-decoration:none
}
a.link8:visited {
	color:#999999;
	text-decoration:none
}
a.link8:hover {
	color:#3a3a3a;
	text-decoration:none
}
a.link8:active {
	color:#999999;
	text-decoration:none
}
.enfont {
	font-family:Verdana,Arial,Helvetica,sans-serif;
}
.Font0 {
	font-weight:bold;
}
.Font1 {
	color:#FFFFFF;
}
.Font2 {
	color:#999999;
}
.Font3 {
	color:#FB683C;
}
.Font4 {
	color:#FF0000;
}
.Font5 {
	color:#636363;
}
.Font6 {
	color:#F6760C;
}
.Font7 {
	color:#205998;
}
.Size1 {
	font-size:14px;
	
}
.Size2 {
	font-size:14px;
}
.Size3 {
	font-size:14px;
}
.bgColor1 {
	background-color:#FF6634;
}
.bgColor2 {
	background-color:#D8D8D8;
}
.bgColor3 {
	background-color:#FFFFFF;
}
.bgColor4 {
	background-color:#9a9a9a;
}
.bgColor5 {
	background-color:#EDEDED;
}
.bgColor7 {
	background-color:#C7C7C7;
}
.bk {
	border:1px solid #DFDFDF;
}
.bk1 {
	border:2px solid #FFFFFF;
}
.bk2 {
	border:2px solid #FF6600;
}
#nullLine {
	line-height:10px;
}
#Main {
	width:999px;
	margin-left:auto;
	margin-right:auto;
	background-color:#FFFFFF;
}

.hide {
	DISPLAY:none
}
#page {
	width:978px
}
IMG {
	BORDER-BOTTOM:0px;
	BORDER-LEFT:0px;
	BORDER-TOP:0px;
	BORDER-RIGHT:0px
}
#logo {
	TEXT-ALIGN:left;
	width:220px;
}
#login {
	BACKGROUND-IMAGE:url(../images/login/bg-login.png);
	PADDING-BOTTOM:17px;
	MARGIN:5px 5px 5 0;
	PADDING-LEFT:25px;
	WIDTH:232px;
	PADDING-RIGHT:28px;
	PADDING-TOP:28px;
	float:right;
	height:435px;background-color:#9A9A9A
}
#login FORM {
	PADDING-BOTTOM:0px;
	MARGIN:0px;
	PADDING-LEFT:0px;
	PADDING-RIGHT:0px;
	PADDING-TOP:0px
}
#login P {
	MARGIN:10px 0px
}
.control-group {
	MARGIN-BOTTOM:10px
}
.control-group .icon-user {
	BORDER-BOTTOM:#cccccc 1px solid;
	BORDER-LEFT:#cccccc 1px solid;
	PADDING-BOTTOM:4px;
	LINE-HEIGHT:20px;
	PADDING-LEFT:5px;
	WIDTH:16px;
	PADDING-RIGHT:5px;
	DISPLAY:block;
	BACKGROUND:url(../images/login/bg-loginicons.png) -1px 0px;
	FLOAT:left;
	HEIGHT:20px;
	OVERFLOW:hidden;
	BORDER-TOP:#cccccc 1px solid;
	MARGIN-RIGHT:-1px;
	BORDER-RIGHT:#cccccc 1px solid;
	PADDING-TOP:4px;
	border-radius:4px 0 0 4px
}
.control-group .icon-lock {
	BORDER-BOTTOM:#cccccc 1px solid;
	BORDER-LEFT:#cccccc 1px solid;
	PADDING-BOTTOM:4px;
	LINE-HEIGHT:20px;
	PADDING-LEFT:5px;
	WIDTH:16px;
	PADDING-RIGHT:5px;
	DISPLAY:block;
	BACKGROUND:url(../images/login/bg-loginicons.png) -1px 0px;
	FLOAT:left;
	HEIGHT:20px;
	OVERFLOW:hidden;
	BORDER-TOP:#cccccc 1px solid;
	MARGIN-RIGHT:-1px;
	BORDER-RIGHT:#cccccc 1px solid;
	PADDING-TOP:4px;
	border-radius:4px 0 0 4px
}
.control-group .icon-mail {
	BORDER-BOTTOM:#cccccc 1px solid;
	BORDER-LEFT:#cccccc 1px solid;
	PADDING-BOTTOM:4px;
	LINE-HEIGHT:20px;
	PADDING-LEFT:5px;
	WIDTH:16px;
	PADDING-RIGHT:5px;
	DISPLAY:block;
	BACKGROUND:url(../images/login/bg-loginicons.png) -1px 0px;
	FLOAT:left;
	HEIGHT:20px;
	OVERFLOW:hidden;
	BORDER-TOP:#cccccc 1px solid;
	MARGIN-RIGHT:-1px;
	BORDER-RIGHT:#cccccc 1px solid;
	PADDING-TOP:4px;
	border-radius:4px 0 0 4px
}
.control-group .icon-lock {
	BACKGROUND-POSITION:-30px 0px
}
.control-group .icon-mail {
	BACKGROUND-POSITION:-58px 0px
}
.control-group INPUT {
	BORDER-BOTTOM:#cccccc 1px solid;
	BORDER-LEFT:#cccccc 1px solid;
	PADDING-BOTTOM:4px;
	LINE-HEIGHT:20px;
	BACKGROUND-COLOR:#ffffff;
	PADDING-LEFT:6px;
	WIDTH:178px;
	PADDING-RIGHT:6px;
	DISPLAY:inline-block;
	FONT-FAMILY:"Helvetica Neue",Helvetica,Arial,sans-serif;
	MARGIN-BOTTOM:10px;
	HEIGHT:20px;
	COLOR:#555555;
	MARGIN-LEFT:0px;
	FONT-SIZE:14px;
	VERTICAL-ALIGN:middle;
	BORDER-TOP:#cccccc 1px solid;
	BORDER-RIGHT:#cccccc 1px solid;
	PADDING-TOP:4px;
	border-radius:0 4px 4px 0;
	box-shadow:0 1px 1px rgba(0,0,0,0.075) inset;
	transition:border 0.2s linear 0s,box-shadow 0.2s linear 0s
}
.control-group INPUT:focus {
	Z-INDEX:2;
	OUTLINE-STYLE:none;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)
}
.remember-me {
	MARGIN-TOP:0px;
	DISPLAY:block;
	MARGIN-BOTTOM:25px
}
.remember-me INPUT {
	VERTICAL-ALIGN:middle;
	CURSOR:pointer
}
.remember-me LABEL {
	FONT-SIZE:13px;
	VERTICAL-ALIGN:middle;
	CURSOR:pointer
}
.remember-me A {
	FLOAT:right;
	COLOR:#333;
	TEXT-DECORATION:none;
	PADDING-TOP:1px
}
.remember-me A:hover {
	BORDER-BOTTOM:#999 1px dashed;
	COLOR:#999;
	TEXT-DECORATION:none
}
.login-btn INPUT {
	BORDER-BOTTOM:1px solid;
	BORDER-LEFT:1px solid;
	PADDING-BOTTOM:4px;
	LINE-HEIGHT:20px;
	BACKGROUND-COLOR:#f56c06;
	MARGIN:0px auto;
	PADDING-LEFT:12px;
	WIDTH:80px;
	PADDING-RIGHT:12px;
	DISPLAY:block;
	BACKGROUND-REPEAT:repeat-x;
	COLOR:#ffffff;
	FONT-SIZE:13px;
	BORDER-TOP:1px solid;
	CURSOR:pointer;
	BORDER-RIGHT:1px solid;
	PADDING-TOP:4px;
	border-radius:4px 4px 4px 4px;
	box-shadow:0 1px 0 rgba(255,255,255,0.2) inset,0 1px 2px rgba(0,0,0,0.05);
	text-shadow:0 -1px 0 rgba(0,0,0,0.25)
}
.login-btn INPUT:hover {
	BACKGROUND-COLOR:#fa7716
}
.forget-btn {
	PADDING-TOP:10px
}
#login-copyright {
	TEXT-ALIGN:center;
	PADDING-BOTTOM:0px;
	MARGIN:0px auto;
	PADDING-LEFT:10px;
	WIDTH:250px;
	PADDING-RIGHT:10px;
	COLOR:#999999;
	FONT-SIZE:11px;
	PADDING-TOP:10px
}
#login-copyright A {
	COLOR:#999999;
	TEXT-DECORATION:none
}
#login-copyright A:hover {
	BORDER-BOTTOM:#fff 1px dashed;
	COLOR:#fff;
	TEXT-DECORATION:none
}
.cnfont{
	font-family:微软雅黑,黑体
}
