/*html{color:#666}
#images-view .x-panel-body{
    background: white;
    font: 11px Arial;
}
#images-view .thumb{
    background: #dddddd;
    padding: 3px;
    padding-bottom: 0;
}

.x-quirks #images-view .thumb {
    padding-bottom: 3px;
}

#images-view .thumb img{
    height: 120px;
    width: 160px;
}
#images-view .thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
#images-view .thumb-wrap span {
    
    display: block;
    overflow: hidden;
    text-align: center;
    width: 166px; /* for ie to ensure that the text is centered 
}*/

#images-view .x-item-over{
    border:1px solid #dddddd;
    background: #efefef url(../images/over.gif) repeat-x left top;
    padding: 4px;
}

#images-view .x-item-selected{
    background: #eff5fb url(../images/selected.gif) no-repeat right bottom;
    border:1px solid #99bbe8;
    padding: 4px;
}
#images-view .x-item-selected .thumb{
    background:transparent;
}

.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    border-color:#3399bb;
}.ext-strict .ext-ie .x-tree .x-panel-bwrap{
    position:relative;
    overflow:hidden;
}
.position {
    background: url("../images/dian.gif") no-repeat scroll 8px 10px rgba(0, 0, 0, 0);
    border-bottom: 1px solid #CCCCCC;
	color:#F15628;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    line-height: 25px;
    padding-left: 32px;
}
.tishi {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #555555;
	margin-left:32px;
    font-size: 12px;
    margin-bottom: 5px;
}


*/

/* 首页样式 */
#images-view .x-panel-body{
    background: white;
    font: 11px Arial;
}
#images-view .thumb{
    background: #dddddd;
    padding: 3px;
    padding-bottom: 0;
}

.x-quirks #images-view .thumb {
    padding-bottom: 3px;
}

#images-view .thumb img{
    height: 50px;
    width: 75px;
}
#images-view .thumb-wrap{
    float: left;
    margin-right: 0;
	margin-top:22px;
	margin-left:15px;
}
#images-view .thumb-wrap span {
    
    display: block;
    overflow: hidden;
    text-align: center;
    width: 75px; /* for ie to ensure that the text is centered */
}

#images-view .x-item-over{
    border:1px solid #dddddd;
    background: #efefef url(../images/over.gif) repeat-x left top;
}

#images-view .x-item-selected{
    background: #eff5fb url(../images/selected.gif) no-repeat right bottom;
    border:1px solid #99bbe8;
    padding: 4px;
}
#images-view .x-item-selected .thumb{
    background:transparent;
}

.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    border-color:#3399bb;
}.ext-strict .ext-ie .x-tree .x-panel-bwrap{
    position:relative;
    overflow:hidden;
}
.bgColor1 {
	background-color:#157fcc;
}
.Size1 {
	font-size:11px;
}

.Font1 {
	color:#FFFFFF;
}
.bgColor4 {
	background-color:#FF6634;
}
#memberHeaderTime {
    background: url("http://www.360zebra.com/images/member/common/headerTimeBg.jpg") no-repeat top 15px left 5px rgba(0, 0, 0, 0);
    padding: 9px 0 0 65px;
	float:right;
}
#memberHeaderTime ul{
	list-style:none;
	margin:0;
	padding:0
}
#memberHeaderTime p{
	margin:0;
	padding:2px;
}
#memberHeaderTime ul li {
    cursor: pointer;
    float: left;
    position: relative;
    text-align: center;
    width: 66px;
}
.memberHeaderTimeInfo {
    background: url("http://www.360zebra.com/images/member/common/timeBg.jpg") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: #666666;
    font-size: 11px;
    margin-top: 2px;
}
.memberHeaderTimeName {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    display: none;
    left: 0;
    padding: 1px 3px;
    position: absolute;
    top: -48px;
}
a.link1:link {
	color:#FFFFFF;
	text-decoration:none
}
a.link1:visited {
	color:#FFFFFF;
	text-decoration:none
}
a.link1:hover {
	color:#FFFFFF;
	text-decoration:underline
}
a.link1:active {
	color:#FFFFFF;
	text-decoration:none
}
.onlineservice{width:188px;}
.onlineservicetitle{background-color:#3a567e; height:20px; color:Gray;background:#3a567e;}
.onlineservicetitle span{vertical-align:middle; font-family:微软雅黑;font-weight: bold;font-size:13px; padding-left:8px; color:White; letter-spacing:1.2px;}
.onlineserviceul{display:block;}
.onlineserviceul ul{list-style: none; margin: 0px; padding: 0px; border:0px;}
.onlineserviceul ul li{float:left;hidden;border-style:none; padding-left:5px; padding-top:10px;}
.onlineserviceul ul li img{border-style:none; border:none;}
.clearfix:after{content:'\20';display:block;clear:both;visibility:hidden;line-height:0;height:0;}.clearfix{display:inline-block;}html[xmlns] .clearfix{display:block;}* html .clearfix{height:1%;}
.ceohotline{width:188px;}
.ceolinetitle span{vertical-align:middle; font-size:13px; padding-left:8px; color:White; letter-spacing:1.2px;}
.onlineservicetitle span{vertical-align:middle; font-size:13px; padding-left:8px; color:White; letter-spacing:1.2px;}
.headArea{ height:28px;}
.headArea .lp{ width:10px;  height:28px; background:url(/images/member/placeOrder/p1bg.jpg) left top no-repeat; float:left;}
.headArea .cdiv{ height:28px; background: url(/images/member/placeOrder/cspanbg.png)  0px top repeat-x; color:#FFF;font-weight:bold;float: left;}        
.headArea .cdiv span{ height:28px;line-height:28px; font-weight:bold;color:#FFF;}
.headArea .rp{ width:10px; height:28px; background:url(/images/member/placeOrder/p2bg.jpg) right top no-repeat; margin-top:0px; float:right;}  
.radius{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;behavior: url(/js/PIE.htc);font-size:12px; font-family:arial,宋体,sans-serif}
.memberIndexInfo{background:#f0f0f0; border:1px solid #ededed; height:180px; padding:20px 0 0 20px;margin-bottom:10px;padding-bottom:20px;}
.memberIndexInfo table th td{
	font-size:12px;
	font-family:arial,宋体,sans-serif;
	font-weight:normal
}
.memberIndexAvatar{float:left; width:100px; text-align:center;margin-right:20px }
.memberIndexAvatar img{display:block}
.memberIndexAvatar p{line-height:22px; }
.memberIndexAvatar p a{color:#3e3a39}
.memberIndexInfoRight{float:left; width:574px}
.memberIndexAvatar{float:left; width:100px; text-align:center;margin-right:20px }
.memberIndexAvatar img{display:block}
.memberIndexAvatar p{line-height:22px; }
.memberIndexAvatar p a{color:#3e3a39}
.memberIndexInfoRight{float:left; width:574px}
.memberIndexInfoRight table p{color:#3e3a39;vertical-align:baseline; padding:3px 0; *padding:2px 0}
.memberIndexInfoRight table th{ text-align:right; font-weight:normal}
.memberIndexInfoRight table p a{color:#ec870e; text-decoration:none;}
.memberIndexInfoRight table p img{ vertical-align:bottom;}
.memberIndexInfoRight table p.memberIndexInfoRightZhanghao{background:url(../images/iconHuiyuan.png) left center no-repeat; 
padding-left:29px; font-weight:bold;color:#ff6300; height:29px; line-height:29px}
.memberIndexInfoRight table p.memberIndexInfoRightHuiyuan{background:url(../images/iconZhanghao.png) left center no-repeat;
padding-left:29px; font-weight:bold;color:#ff6300; height:29px; line-height:29px}
.radius{border-radius:5px;}
.memberIndexStatistics{border:1px solid #d7d7d7; width:32%; margin-bottom:10px;float: left;height:135px;}
.memberIndexStatisticsTitle{background:url(../images/indexTitle.jpg) repeat-x;padding:0 8px 0 13px;border-bottom:1px solid #d7d7d7; height:27px; }
.topleftandrightradius{-webkit-border-radius:5px 5px 0px 0px;-moz-border-radius: 5px 5px 0px 0px;border-radius: 5px 5px 0px 0px;}
.memberIndexStatisticsTitle ul li{float:left;font-weight: bold;line-height:27px; } 
.memberIndexStatisticsTitle ul{padding-left:14px;font-weight: bold;line-height:27px;list-style:none;margin:0;padding:0}
.memberIndexStatisticsTitle ul li img{ margin-top: 10px;cursor: pointer;} 
.memberIndexStatisticsContent{ padding: 10px 0 10px 10px; color:#3E3A39} 
.memberIndexStatisticsContent ul{margin:0;padding:0;list-style:none}
.memberIndexStatisticsContent ul li{background:url(../images/iconAddress.jpg) left center no-repeat; padding-left:10px; line-height: 22px;border-bottom: 1px solid #d7d7d7;width: 45%;float: left;margin-right: 5px;} 
.memberIndexStatisticsContent ul li {list-style:none outside none}
.memberIndexStatisticsContent ul li .fr{float:right}
.memberIndexStatisticsContent ul li .fr span{color:#fe3813;}



/* track */
.memberIndexStatisticsContent ul{margin:0;padding:0;list-style:none}
.memberIndexStatisticsContent ul li{background:url(../images/iconAddress.jpg) left center no-repeat; padding-left:10px; line-height: 22px;border-bottom: 1px solid #d7d7d7;width: 45%;float: left;margin-right: 5px;} 
.memberIndexStatisticsContent ul li {list-style:none outside none}
.memberIndexStatisticsContent ul li .fr{float:right}
.memberIndexStatisticsContent ul li .fr span{color:#fe3813;}

.memberIndexShare{border:1px solid #d7d7d7;height:162px;margin-bottom:10px;overflow:hidden}
.memberIndexShareInfo{padding:0 5px 0 0}
.memberIndexShareInfo ul{margin:2;padding:5}
.memberIndexShareInfo ul li{height:36px; margin-bottom:4px; overflow:hidden;padding-left:5px;}
.memberIndexShareInfo ul li div{float:right;background:url(../images/shareBg.jpg) no-repeat; width:82%; height:36px; line-height:36px;padding-left:12px; vertical-align:baseline}
.memberIndexShareInfo ul li div a{color:#3E3A39}
.member{padding-top:5px}
.memberIndexTitle{background:url(../images/indexTitle.jpg) repeat-x; height:27px; line-height:27px; padding:0 8px 0 13px; font-weight:bold;
	color:#626262; border-bottom:1px solid #d7d7d7;}
.memberIndexTitle span{margin-top:9px; cursor:pointer}
/*.memberIndexTitle span{float:right; margin-top:9px; cursor:pointer}*/
.memberIndexTitlespan{ font-weight:normal;}
.memberIndexTitle ul li{float:left;font-weight:normal;margin-right:30px; cursor:pointer}
.memberIndexTitle2{background:#eaf0f6; height:27px; line-height:27px; padding:0 7px 0 10px; font-weight:bold; color:#626262}
.memberIndexTitle2 span{ margin-top:9px; cursor:pointer}
.memberIndexFAQ{border:1px solid #d7d7d7;width:32%; margin-bottom:10px;float:left;height:135px;margin-left:10px; overflow:hidden}
.memberIndexFAQInfo{padding:5px 15px;*padding:5px 15px; height:105px; overflow:auto}
.memberIndexFAQInfo ul{ list-style:none;margin:0 30px 0 0;padding:0 0 5px 0;}
.memberIndexFAQInfo ul li{background:url(../images/iconAddress.jpg) left center no-repeat; padding-left:22px; height:22px; line-height:22px}
.memberIndexFAQInfo ul li a{color:#626262}

